.column {
    float: left;
    width: 25%;
    padding: 5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the buttons */

.btn-list-view.active {
    border-color: #3190ff;
    color: #3190ff;
}

.item-details {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.item-details img {
    width: 100%;
}

.btn-list-view {
    padding: 4px 9px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    color: #d1d1d1;
    cursor: pointer;
    font-size: 20px;
}

.folder-title a {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #505050;
}

.doc-title {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #3190ff
}

.grid-btn {
    padding-right: 20px;
}

.pagination-custom {
    padding-right: 5px;
}