    body {
        /* font-family: HelveticaNeue; */
    }
    
    a:hover {
        text-decoration: none;
    }
    
    .header-area {
        overflow: hidden;
        height: 65px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #fafafa;
    }
    
    .wrap-header {
        margin: auto;
        float: left;
        padding: 16px 25px 21px 25px;
    }
    
    .st-logo {
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #253c80
    }
    
    .header-menu ul {
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }
    
    .header-menu li {
        display: inline-block;
        padding-left: 29px;
    }
    
    .header-menu li a {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: left;
        color: #505050;
    }
    
    .header-menu li a:hover {
        text-decoration: none;
        color: #3190ff;
    }
    /* Header End */
    /* Content */
    
    .content {
        padding: 15px 5px;
    }
    
    .content .title-list {
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        padding-left: 13px;
    }
    
    .content .sidebar ul {
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }
    
    .content .sidebar ul li {
        padding: 15px 13px;
    }
    
    .content .sidebar ul li a {
        color: #000000;
    }
    
    .content .sidebar ul li a:hover {
        color: #000000;
    }
    
    .content .sidebar ul li:nth-child(even) {
        border-bottom: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
        background-color: #f4f3f0;
    }
    
    .ads1 {
        width: 100%;
        height: 327.8px;
        background-color: #327ed8;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 327px;
        font-size: 30px;
        color: #ffffff;
    }
    
    .doc-items {
        height: 200px;
    }
    
    .item-detail {
        float: left;
        width: 25%;
    }
    
    .item-detail-title {
        background-color: #3190ff;
        height: 200px;
        padding: 20px;
    }
    
    .item-detail-title h2 {
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
    }
    
    .item-detail-title .btn-view-all {
        background-color: transparent;
        border: 1px solid #ffffff;
        padding: 0 15px;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.86;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        cursor: pointer;
    }
    
    .has-search {
        width: 40%;
    }
    
    .dropdown-toggle::after {
        content: unset;
    }
    
    .has-search .form-control {
        padding-left: 2.375rem;
        border-radius: 0px;
    }
    
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
        border-radius: 0px;
    }
    
    .modal-content {
        border-radius: 0px !important;
        border: 0px !important;
    }
    
    .modal-content .form-control {
        background-color: #f4f3f0;
        border: none;
    }
    
    .modal-content .form-group label {
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #676a6c;
    }
    
    .modal-head {
        text-align: center;
        line-height: 98px;
        background-color: #ff8e33;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        color: #ffffff;
    }
    
    .form-control-code {
        width: 122px;
        height: 30px;
    }
    
    .custom-checkbox {
        margin-left: 15px;
    }
    
    .custom-control-labell {
        font-size: 14px;
        font-weight: normal !important;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.94;
        letter-spacing: normal;
        text-align: left;
        color: #676a6c;
    }
    
    .register {
        width: 149px;
        height: 44px;
        background-color: #ff8e33;
        border: 0px !important;
        color: #ffffff;
    }
    
    .forget-pass {
        justify-content: flex-end;
    }
    
    .modal-body {
        padding-top: 50px;
    }
    
    .other-code {
        background-color: unset;
        border: unset;
        color: #3190ff;
    }
    
    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 599px !important;
        }
    }
    /* Content End */
    /* Footer */
    
    .footer-area {
        overflow: hidden;
        background-color: #232122;
    }
    
    .wrap-footer {
        overflow: hidden;
        padding: 50px 0px 50px 60px;
    }
    
    .wrap-footer h2 {
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    
    .wrap-footer ul {
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }
    
    .wrap-footer a {
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: left;
        padding-top: 14px;
    }
    
    .wrap-footer a:hover {
        text-decoration: none;
    }
    
    .link-active {
        color: #3190ff !important;
        font-weight: bold !important;
    }
    
    .square {
        color: #3190ff;
        padding-right: 8px;
    }